body{
    margin: 0;
    padding: 0;
}

.newsletter{

    border: 1px solid black;
    width: 400px;
    height: 200px;
    border-radius: 20px;

}

#title_newsletter{
    
   text-align: center;
   
}
#email{

    align-items: center;
    align-self: center;
    align-content: center;
    ali
}

